:root {
    --primary-marine-blue: hsl(213, 96%, 18%);
    --primary-purplish-blue: hsl(243, 100%, 62%);
    --primary-pastel-blue: hsl(228, 100%, 84%);
    --primary-light-blue: hsl(206, 94%, 87%);
    --primary-strawberry-red: hsl(354, 84%, 57%);
    --neutral-cool-gray: hsl(231, 11%, 63%);
    --neutral-light-gray: hsl(229, 24%, 87%);
    --neutral-magnolia: hsl(217, 100%, 97%);
    --neutral-alabaster: hsl(231, 100%, 99%);
    --neutral-white: hsl(0, 0%, 100%);
}
.text-marine {
    color: var(--primary-marine-blue) !important;
}
.text-bold {
    font-weight: 700;
}
.text-medium{
    font-weight: 500;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--neutral-light-gray);
}
p  {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-white);
}
.circle-active {
    background-color: var(--primary-light-blue);
    color: var(--primary-marine-blue) !important;
}
.container {
    background-color: var(--neutral-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-sidebar {
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    border-radius: 15px;
}
.circle > span {
    padding: 0;
    font-weight: 500;
}
.card {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 75vh;
    width: 1024px;
    background-color: var(--neutral-white);
    padding: 20px;
    border-radius: 20px;
}
.sidebar-contents {
    display: grid;
    grid-template-columns: 40px 1fr;
    padding-top: 50px;
    padding-left: 30px;
    
}
.circle {
    border: 1px solid var(--neutral-white);
    border-radius: 100%;
    -webkit-transition: .4s;
    transition: .4s;
    color: var(--neutral-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-text {
    padding-left: 10px;
}
.sidebar-text > p {
    margin: 0;
    padding: 0;
}
h1 {
    color: var(--primary-marine-blue);
}
.step-heading > p {
    color: var(--neutral-cool-gray);
}
.card-main {
    display: flex;
    justify-content: center;
}
label {
    color:  var(--primary-marine-blue);
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid var(--neutral-light-gray);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 700;
    color: var(--primary-marine-blue);
  }
  input[type=text]:focus {
    border: 1px solid var(--primary-purplish-blue);
    outline: none;
  }
.step-button {
    padding: 20px 50px;
    background-color: var(--primary-marine-blue);
    font-weight: 700;
    color: var(--neutral-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.step-2, .step-3, .step-4, .step-5 {
    display: none;
}

#go-back-1, #go-back-2, #go-back-3 {
    color: var(--primary-marine-blue);
    background-color: var(--neutral-white);
}
.step-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.step-card {
    border: 1px solid var(--neutral-light-gray);
    border-radius: 10px;
    padding: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}
.step-card:hover {
    border: 1px solid var(--primary-purplish-blue) !important;
    background-color: var(--neutral-magnolia);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-marine-blue);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary-marine-blue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-marine-blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .step-container-toggle {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--neutral-magnolia);
  }

  .step-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
  }

  #month, #year {
    font-weight: 500;
    color: var(--neutral-cool-gray);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .button-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .button-container > {
    display: flex;
}
.list-container {
    display: flex;
    padding: 0 20px;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--neutral-cool-gray);
    border-radius: 10px;
    color: var(--primary-purplish-blue);
}
.list-container > p {
    color: var(--neutral-cool-gray);
    margin: 20px 20px 20px 20px;
} 
.list-container input {
    display: none;
}


.list-container input[type="checkbox"] {
    display: block;
    position: relative;
    padding-left: 35px;
    color: #ddd;
    cursor: pointer;
  }

  .step-2-price {
    color: hsl(231, 11%, 63%);
  }
  .two-months {
    color: var(--primary-marine-blue);
  }
  .center-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ty-text {
    max-width: 450px;
    text-align: center;
  }
  #go-back-3 {
    color: var(--neutral-cool-gray);
  }
  #next-step-4 {
    background-color: var(--primary-purplish-blue);
  }
  .step-editables {
    background-color: var(--neutral-magnolia);
    padding: 20px;
  }
  .step-editables > div > h3 {
    color: var(--primary-marine-blue);
  }
  .step-editables > div > p {
    color: var(--neutral-cool-gray);
  }
  .step-editables > div{
    display: flex;
    flex-direction: row;
    
  }